body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 40px;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	line-height: 40px;
	margin: 0 0 40px 0;
	color: #517FA4;
}

a {
	color: #517FA4; 
}

a.load-more {
	display: block;
	margin: 20px 0;
	float: left;
	width: 100%
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

ul li img {
	display: block;
	width: 100%;
	height: auto;
}

.inst_photo_title {
    padding-top: 10px;
    text-align: center;
    font-size: 90%;
    color: #666666;
    height: 60px;
}

.inst_photo_title a {
    font-size: 90%;
    color: #666666;
}
